body {
    background-color: #523a06;
}

.national-park-info {
    background-color: #755413;
    color: white;
}

p {
    color: white;
}

figcaption a {
    color: white;
}

figcaption a:hover {
    text-decoration: underline 1px white;
}




